# Module 4: Functions Assignments
## Lesson 4.1: Defining Functions
### Assignment 1: Simple Function

Define a function that takes a single integer as input and returns its square. Test the function with different inputs.

### Assignment 2: Multiple Arguments

Define a function that takes two integers as input and returns their sum. Test the function with different inputs.

### Assignment 3: Default Arguments

Define a function that takes two integers as input and returns their sum. The second integer should have a default value of 5. Test the function with different inputs.

### Assignment 4: Keyword Arguments

Define a function that takes three named arguments: first_name, last_name, and age, and returns a formatted string. Test the function with different inputs.

### Assignment 5: Variable-length Arguments

Define a function that takes a variable number of integer arguments and returns their product. Test the function with different inputs.

### Assignment 6: Nested Functions

Define a function that contains another function inside it. The outer function should take two integers as input and return the result of the inner function, which multiplies the two integers. Test the function with different inputs.

### Assignment 7: Returning Multiple Values

Define a function that takes a single integer as input and returns the integer squared, cubed, and raised to the power of four. Test the function with different inputs.

### Assignment 8: Recursive Function

Define a recursive function that calculates the factorial of a given number. Test the function with different inputs.

### Assignment 9: Lambda Function

Define a lambda function that takes two integers as input and returns their sum. Test the lambda function with different inputs.

### Assignment 10: Map Function

Use the map function to apply a lambda function that squares each number in a list of integers. Test with different lists.

### Assignment 11: Filter Function

Use the filter function to filter out all odd numbers from a list of integers. Test with different lists.

### Assignment 12: Function Decorator

Define a decorator function that prints 'Executing function...' before executing a function and 'Function executed.' after executing it. Apply this decorator to a function that takes a list of integers and returns their sum. Test the decorated function with different lists.

### Assignment 13: Function with *args and **kwargs

Define a function that takes variable-length arguments and keyword arguments and prints them. Test the function with different inputs.

### Assignment 14: Higher-Order Function

Define a higher-order function that takes a function and a list of integers as arguments, and applies the function to each integer in the list. Test with different functions and lists.

### Assignment 15: Function Documentation

Define a function with a docstring that explains what the function does, its parameters, and its return value. Print the function's docstring.

In [1]:
#que 1
def squarenum(n):
    return n * n

print(squarenum(3))
print(squarenum(5))

9
25

In [4]:
#que 2
def addnum(x, y):
    return x + y

print(addnum(8, 7))
print(addnum(17, 22))

15
39

In [5]:
#que 3
def defaultargu(a, b=5):
    return a + b

print(defaultargu(3))
print(defaultargu(3, 10))

8
13

In [6]:
#que 4
def keywordargu(first_name, last_name, age):
    return f"{first_name} {last_name} is {age} years old"

print(keywordargu(first_name="Anuja", last_name="Kanse", age=21))

Anuja Kanse is 21 years old

In [7]:
#que 5
def variablelengthargu(*nums):
    result = 1
    for i in nums:
        result *= i
    return result

print(variablelengthargu(2, 3, 4))
print(variablelengthargu(1, 2, 3, 4, 5))

24
120

In [8]:
#que 6 nested function
def outer_function(a, b):
    def inner_function(x, y):
        return x * y
    return inner_function(a, b)

print(outer_function(4, 5))

20

In [9]:
#que 7 return multiple values
def powers(n):
    return n**2, n**3, n**4

print(powers(6))
print(powers(8))

(36, 216, 1296)
(64, 512, 4096)

In [11]:
#que 8 recursive function
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

print(factorial(5))
print(factorial(8))

120
40320

In [12]:
#que 9 lambda function
add = lambda a, b: a + b

print(add(10, 15))
print(add(5, 6))

25
11

In [13]:
#que 10 map function
nums = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x * x, nums))
print(squares)

[1, 4, 9, 16, 25]

In [15]:
#que 11 filter function
nums = [1, 2, 3, 4, 5, 6]
even = list(filter(lambda x: x % 2 == 0, nums))
print(even)

[2, 4, 6]

In [16]:
#que 12 function decorator
def decorator(func):
    def wrapper(*args, **kwargs):
        print("executing fun...")
        result = func(*args, **kwargs)
        print("fun executed.")
        return result
    return wrapper

@decorator
def sum_list(nums):
    return sum(nums)

print(sum_list([1, 2, 3, 4]))

executing fun...
fun executed.
10

In [17]:
#que 13
def print_args_kwargs(*args, **kwargs):
    print("Args:", args)
    print("Kwargs:", kwargs)

print_args_kwargs(1, 2, 3, name="Anuja", age=21)

Args: (1, 2, 3)
Kwargs: {'name': 'Anuja', 'age': 21}

In [18]:
#que 14 higher order function
def applyfunction(func, numbers):
    return [func(x) for x in numbers]

def double(n):
    return n * 2

print(applyfunction(double, [1, 2, 3]))

[2, 4, 6]

In [20]:
#que 15 function documentation
def greet(name):
    """This function takes a name and returns a greeting message."""
    return "Hello " + name

print(greet.__doc__)
print(greet("Anuja"))

This function takes a name and returns a greeting message.
Hello Anuja