# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [3]:
#Que 1
num = [11,22,33,45,23,98,67,34,90,55,44,9,3,76,23,90,96,17,4,31]
num1 = list(range(1,21))
print("List:",num1)

List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [4]:
#Que 2
print("1st element:",num[0])
print("middle element:",num[len(num) // 2])
print("last element:",num[-1])

1st element: 11
middle element: 44
last element: 31

In [5]:
#Que 3
print("Start 5 elements:", num[:5])
print("End 5 elements:", num[-5:])
print("Elements from index 5 to 15:", num[5:16])

Start 5 elements: [11, 22, 33, 45, 23]
End 5 elements: [90, 96, 17, 4, 31]
Elements from index 5 to 15: [98, 67, 34, 90, 55, 44, 9, 3, 76, 23, 90]

In [6]:
#Que 4
squares = [i*i for i in range(1, 11)]
print("Squares from 1 to 10:", squares)

Squares from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#Que 5
even_num = [i for i in num if i % 2 == 0]
print("Even numbers from list:", even_num)

Even numbers from list: [22, 98, 34, 90, 44, 76, 90, 96, 4]

In [8]:
#Que 6
import random
data = [random.randint(1, 20) for _ in range(15)]
print("Random numbers:", data)
unique = list(set(data))
unique.sort()
print("Sorted ascending:", unique)
unique.sort(reverse=True)
print("Sorted descending:", unique)

Random numbers: [10, 18, 18, 19, 1, 3, 10, 5, 3, 2, 9, 8, 2, 18, 18]
Sorted ascending: [1, 2, 3, 5, 8, 9, 10, 18, 19]
Sorted descending: [19, 18, 10, 9, 8, 5, 3, 2, 1]

In [9]:
#Que 7
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print("3x3 Matrix:")
for r in matrix:
    print(r)
print("Element at [1][2]:", matrix[1][2])

3x3 Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Element at [1][2]: 6

In [11]:
#Que 8
students = [{'name':'Anuja','score':88},{'name':'roshni','score':73},{'name':'sneha','score':95}]
sorted_list = sorted(students, key=lambda x: x['score'], reverse=True)
print("Students sorted by score:")
for s in sorted_list:
    print(s)

Students sorted by score:
{'name': 'sneha', 'score': 95}
{'name': 'Anuja', 'score': 88}
{'name': 'roshni', 'score': 73}

In [12]:
#Que 9
def transpose(m):
    return [[m[j][i] for j in range(len(m))] for i in range(len(m[0]))]

mat = [[1,2,3],[4,5,6],[7,8,9]]
trans = transpose(mat)
print("Original matrix:")
for row in mat:
    print(row)
print("Transposed matrix:")
for row in trans:
    print(row)

Original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [14]:
#Que 10
def flatten_list(nested):
    return [x for group in nested for x in group]

nest = [[1,2],[3,4],[5,6]]
flat = flatten_list(nest)
print("Nested list:", nest)
print("Flattened list:", flat)

Nested list: [[1, 2], [3, 4], [5, 6]]
Flattened list: [1, 2, 3, 4, 5, 6]

In [15]:
#Que 11
data = list(range(1, 11))
for i in [6, 4, 2]:
    del data[i]
data.insert(5, 99)
print("Updated list:", data)

Updated list: [1, 2, 4, 6, 8, 99, 9, 10]

In [16]:
#Que 12
a = ['x', 'y', 'z']
b = [10, 20, 30]
zipped = list(zip(a, b))
print("Zipped pairs:", zipped)

Zipped pairs: [('x', 10), ('y', 20), ('z', 30)]

In [17]:
#Que 13
def reverse_elements(lst):
    return lst[::-1]

original = [11, 22, 33, 44, 55]
rev = reverse_elements(original)
print("Original list:", original)
print("Reversed list:", rev)

Original list: [11, 22, 33, 44, 55]
Reversed list: [55, 44, 33, 22, 11]

In [18]:
#Que 14
def rotate(lst, n):
    return lst[n:] + lst[:n]

sample = [5, 10, 15, 20, 25]
rotated = rotate(sample, 3)
print("Original:", sample)
print("Rotated by 3:", rotated)

Original: [5, 10, 15, 20, 25]
Rotated by 3: [20, 25, 5, 10, 15]

In [19]:
#Que 15
def intersection(l1, l2):
    return [i for i in l1 if i in l2]

x = [1,3,5,7,9]
y = [2,3,5,8]
common = intersection(x, y)
print("Common numbers:", common)

Common numbers: [3, 5]