In [1]:
#que 1 - right angled triangle
n = 5
for i in range(1, n+1):
    print("*" * i)

*
**
***
****
*****

In [2]:
#que 2 - inverted right angled triangle
n = 5
for i in range(n, 0, -1):
    print("*" * i)

*****
****
***
**
*

In [3]:
#que 3 - right aligned triangle
n = 5
for i in range(1, n+1):
    print(" " * (n - i) + "*" * i)

    *
   **
  ***
 ****
*****

In [4]:
#que 4 - inverted right aligned triangle
n = 5
for i in range(n, 0, -1):
    print(" " * (n - i) + "*" * i)

*****
 ****
  ***
   **
    *

In [5]:
#que 5 - full pyramid
n = 5
for i in range(n):
    print(" " * (n - i - 1) + "* " * (i + 1))

    *
   * *
  * * *
 * * * *
* * * * *

In [6]:
#que 8 - number triangle
n = 5
for i in range(1, n+1):
    print(" ".join(str(j) for j in range(1, i+1)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
#que 13 - diamond star pattern
n = 5
for i in range(n):
    print(" " * (n - i - 1) + "* " * (i + 1))
for i in range(n-2, -1, -1):
    print(" " * (n - i - 1) + "* " * (i + 1))

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [9]:
#que 15 - hollow square pattern
n = 5
for i in range(n):
    if i == 0 or i == n - 1:
        print("* " * n)
    else:
        print("* " + "  " * (n - 2) + "*")

* * * * *
*       *
*       *
*       *
* * * * *

In [10]:
#que 17 - Pascalâ€™s Triangle
n = 5
for i in range(n):
    num = 1
    print(" " * (n - i), end="")
    for j in range(i + 1):
        print(num, end=" ")
        num = num * (i - j) // (j + 1)
    print()

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1