# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [2]:
#Que 1
num = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 2])
print("Original set:", num)

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
#Que 2
num.add(23)
num.discard(1)
print("After change:", num)

After change: {2, 3, 4, 5, 6, 7, 8, 9, 23}

In [4]:
#Que 3
set_a = {1, 2, 3, 4, 5}
set_b = {2, 4, 6, 8, 10}

print("union:", set_a | set_b)
print("intersection:", set_a & set_b)
print("difference (a - b):", set_a - set_b)
print("symmetric difference:", set_a ^ set_b)

union: {1, 2, 3, 4, 5, 6, 8, 10}
intersection: {2, 4}
difference (a - b): {1, 3, 5}
symmetric difference: {1, 3, 5, 6, 8, 10}

In [5]:
#Que 4
squares = {x * x for x in range(1, 11)}
print("squares using set comprehension:", squares)

squares using set comprehension: {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [6]:
#Que 5
evens = {n for n in num if n % 2 == 0}
print("even numbers from set:", evens)

even numbers from set: {8, 2, 4, 6}

In [7]:
#Que 6
raw = [1, 2, 2, 3, 4, 4, 5]
cleaned = set(raw)
print("after removing duplicates:", cleaned)

after removing duplicates: {1, 2, 3, 4, 5}

In [8]:
#Que 7
a = {1, 2, 3, 4, 5}
b = {1, 2, 3}

print("b is subset of a:", b.issubset(a))
print("a is superset of b:", a.issuperset(b))

b is subset of a: True
a is superset of b: True

In [9]:
#Que 8
f = frozenset([1, 2, 3, 4, 5])
print("frozen set:", f)

frozen set: frozenset({1, 2, 3, 4, 5})

In [10]:
#Que 9
data = {1, 2, 3, 4, 5}
temp = list(data)
temp.append(6)
updated = set(temp)
print("modified set:", updated)

modified set: {1, 2, 3, 4, 5, 6}

In [11]:
#Que 10
my_dict = {frozenset({1, 2}): 100, frozenset({3, 4}): 200}
print("dictionary with set keys:", my_dict)

dictionary with set keys: {frozenset({1, 2}): 100, frozenset({3, 4}): 200}

In [12]:
#Que 11
items = {10, 20, 30, 40}
for i in items:
    print(i)

40
10
20
30

In [13]:
#Que 12
data = {1, 2, 3, 4}
while data:
    data.pop()
    print("Current set:", data)

Current set: {2, 3, 4}
Current set: {3, 4}
Current set: {4}
Current set: set()

In [14]:
#Que 13
x = {1, 2, 3}
y = {3, 4, 5}
x.symmetric_difference_update(y)
print("after symmetric difference update:", x)

after symmetric difference update: {1, 2, 4, 5}

In [15]:
#Que 14
sample = {10, 20, 30, 40}
print("is 20 in set?", 20 in sample)
print("is 50 in set?", 50 in sample)

is 20 in set? True
is 50 in set? False

In [17]:
#Que 15
pair_set = {(1, 'q'), (2, 'w'), (3, 'e')}
print("set of tuples:", pair_set)

set of tuples: {(3, 'e'), (1, 'q'), (2, 'w')}