# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
#Que 1
num = tuple(range(1, 11))
print("Tuple of first 10 integers:", num)

Tuple of first 10 integers: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
#Que 2
print("first element:", num[0])
print("middle element:", num[len(num) // 2])
print("last element:", num[-1])

first element: 1
middle element: 6
last element: 10

In [3]:
#Que 3
print("first three elements:", num[:3])
print("last three elements:", num[-3:])
print("elements from index 2 to 5:", num[2:6])

first three elements: (1, 2, 3)
last three elements: (8, 9, 10)
elements from index 2 to 5: (3, 4, 5, 6)

In [4]:
#Que 4
matrix = ((1,2,3), (4,5,6), (7,8,9))
print("Tuple Matrix:")
for row in matrix:
    print(row)
print("element at row 2, col 3:", matrix[1][2])

Tuple Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
element at row 2, col 3: 6

In [5]:
#Que 5
a = (1, 2, 3)
b = (4, 5, 6)
combined = a + b
print("concatenated tuple:", combined)

concatenated tuple: (1, 2, 3, 4, 5, 6)

In [6]:
#Que 6
items = (2, 4, 6, 4, 2, 4, 8)
print("count of 4:", items.count(4))
print("first index of 2:", items.index(2))

count of 4: 3
first index of 2: 0

In [7]:
#Que 7
data = (10, 20, 30, 40, 50)
a, b, c, d, e = data
print("values:", a, b, c, d, e)

values: 10 20 30 40 50

In [8]:
#Que 8
lst = [1, 2, 3, 4, 5]
tup = tuple(lst)
print("Tuple from list:", tup)

Tuple from list: (1, 2, 3, 4, 5)

In [9]:
#Que 9
nested = ((1,2,3), (4,5,6), (7,8,9))
print("tuple of tuples:")
print(nested)

tuple of tuples:
((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [10]:
#Que 10
t = (1, 2, 3, 4, 5)
temp = list(t)
temp.append(6)
t = tuple(temp)
print("modified tuple:", t)

modified tuple: (1, 2, 3, 4, 5, 6)

In [12]:
#Que 11
s = 'a','w','e','s','o','m','e'
chars = tuple(s)
joined = ''.join(chars)
print("joined string:", joined)

joined string: awesome

In [13]:
#Que 12
info = {('x', 'y'): 10, ('a', 'b'): 20}
print("dictionary with tuple keys:", info)

dictionary with tuple keys: {('x', 'y'): 10, ('a', 'b'): 20}

In [14]:
#Que 13
nested = ((1,2), (3,4), (5,6))
for tup in nested:
    for val in tup:
        print(val)

1
2
3
4
5
6

In [16]:
#Que 14
dup = (10, 22, 32, 33, 10, 24, 22)
uni = set(dup)
print("unique elements set:", uni)

unique elements set: {32, 33, 10, 22, 24}

In [17]:
#Que 15
def process(t):
    return min(t), max(t), sum(t)

sample = (5, 1, 8, 3, 9)
result = process(sample)
print("minimum:", result[0])
print("maximum:", result[1])
print("sum:", result[2])

minimum: 1
maximum: 9
sum: 26